baseURL: https://danaes.github.io
languageCode: es-es
defaultContentLanguage: es
title: "D.AlvarezGil"

module:
  imports:
    - path: github.com/hugo-toha/toha/v4
  mounts:
    - source: static/files
      target: static/files
    - source: ./node_modules/flag-icon-css/flags
      target: static/flags
    - source: ./node_modules/@fontsource/mulish/files
      target: static/files
    - source: ./node_modules/katex/dist/fonts
      target: static/fonts

languages:
  es:
    languageName: Spanish
    weight: 1
  en:
    languageName: English
    weight: 2

markup:
  tableOfContents:
    startLevel: 2
    endLevel: 6
    ordered: false

outputs:
  home:
  - HTML
  - RSS
  - JSON

enableEmoji: true


params:
  background: /images/site/background.jpg
  websiteTitle: "Official web page"
  enableBlogPost: false
  tco: true
  newsletter:
    enable: false
  lazyload:
    enable: true
  seo:
    enable: true
  features:
    analytics:
      enabled: true
      google:
        id: G-QH6WVZ6EG6
    darkMode:
      enabled: true

Privacy:
  GoogleAnalytics:
    anonymizeIP: false
    disable: false
    respectDoNotTrack: false
    useSessionStorage: false